# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env

# Logs
*.log
logs/
npm-debug.log*

# Coverage
coverage/
*.lcov

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build artifacts
dist/
build/
